body {
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #8b8b8b;
}

h1 {
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    box-sizing: border-box;
}


h2 {
    padding: 20px;
    margin-left: 40px;
}


