<!DOCTYPE html>
<html>
    <head>
        <title>SecureDoc</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../master.css">
        <link rel="stylesheet" href="caseManager.css">

        <link rel="icon" href="../assets/papers-6795fd.png" type="image/png" />
    </head>

    <body>
        <div id="app">
            <div class="menu_section">
                <nav class="navbar navbar-expand-lg navbar-light bg-custom">
                    <a class="navbar-brand" href="../home.html">SafeDoc</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a id="CM" class="nav-link" href="caseManager.html">MyDocs<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                        <a id="FM" class="nav-link" href="../formManager/formManager.html">MyForms<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                        <a id="H" class="nav-link" href="../help/help.html">Help</a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>


            <div class="title">
                <img src="../assets/papers-white.png" alt="">
                <h1>SafeDoc</h1>
            </div>

            <h2 class="caseList">
                <p>My Docs</p>
            </h2>
            
            <div class="row caseSection">
                <div class="col">
                    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#new-doc-modal">Upload Document</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#new-case-modal">New Case</button>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <button id="caseList" v-if="selectedCase >= 0" class="btn btn-outline-secondary dropdown-toggle caseName" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ cases[selectedCase].name }}</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" v-for="c in cases" :value="c.id" @click="selectCase(c.id)">{{ c.name }}</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button v-if="cases[selectedCase]" class="btn btn-outline-warning" @click="closeCase()">Close Case</button>
                </div>
                <div class="col">
                    <span v-if="cases[selectedCase]" >Exipres in:</span>
                    <p v-if="cases[selectedCase]" v-bind:class="{ expiring: cases[selectedCase].expiration < 7 }">{{ cases[selectedCase].expiration }} days</p>
                </div>
            </div>

            <div class="caseData">
                <div v-if="cases.length > 0">
                    <!-- <div class="row justify-content-center">
                        <div class="col" style="text-align: center;">
                            <h2 style="text-decoration: underline;">Docs</h2>
                        </div>
                        
                        <div class="col" style="text-align: center;">
                            <h2 style="text-decoration: underline;">Filename</h2>
                        </div>
                    </div> -->

                    <div class="row justify-content-center doc" v-if="cases.length > 0 && (!doc.admin || token=='IFj4dkwo820')" v-for="doc in cases[selectedCase].docs">
                        <div class="col" style="text-align: center;">
                            <img src="../assets/doc.png" alt="" style="max-width: 60px;">
                        </div>
                        <!-- doc icon is using color #6795fd -->
                        <div class="col" style="text-align: center;">
                            {{ doc.file_name }}
                        </div>
                        <div class="col" style="text-align: center;">
                            <button class="btn btn-outline-danger deleteIcon" style="float: right; margin-right: 5em;" @click="removeDocument(doc.id)">X</button>
                        </div>
                    </div>
                </div>
                <div class="row" v-else>
                    <div class="col">
                        Create a new Case to get started
                    </div>
                </div>
            </div>

            <!-- wow factor question doc question: ask how good product is on scale from 1-10. then wait 
            until they give you the answer-->
            
            <div class="footer nav-item bg-custom">
                <a href="https://github.com/wbf22/SafeDoc">Github Link</a>
            </div>

            <div class="modal fade" id="new-doc-modal" tabindex="-1" role="dialog" aria-labelledby="modal-create-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-create-title">Create New Document</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-primary" type="button" style="border-radius: 5px;" data-dismiss="modal" @click="uploadDocument()">Upload</button>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="upload-file-form" @change="updateForm()">
                                    <label id="upload-file-label" class="custom-file-label" for="upload-file-form" >Choose file</label>
                                </div>
                            </div>
                            <input type="checkbox" v-model="newDocAdmin" id="newDocAdmin"style="margin-left: 1em;">
                            <label for="newDocAdmin" style="vertical-align: middle;">For Admin Only?</label>
                        </div>
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Create</button>
                        </div> -->
                    </div>
                </div>
            </div>
    
            <div class="modal fade" id="new-case-modal" tabindex="-1" role="dialog" aria-labelledby="modal-create-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-case-title">Create New Case</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" v-model="newCase" value="" placeholder="Name your case"/>
                            <br>
                            <input type="number" v-model="newCaseExp" min="0" style="margin-top: 1em;"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-primary" @click="addCase()">Create</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-labelledby="modal-message" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-message-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="modal-message-body"></p>
                        </div>
                        <div class="modal-footer">
                            <button id="modal-message-close" type="button" class="btn btn-primary" data-dismiss="modal" style="vertical-align: middle;">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="caseManager.js"></script>
</html>