html, body {
    width: 100vw;
}

input {
    color: #8b8b8b;
}

.title {
    background-color: #6795fd;
    height: 100px;
    width: 100%;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title img {
    height: 100%;
}
.btn {
    border-radius: 20px;
}
h1 {
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    box-sizing: border-box;
}


h2 {
    padding: 20px;
    margin-left: 40px;
}
.caseSection {
    background-color: inherit;
    text-align: center;
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100vw;
    border-bottom: 3px solid #8b8b8b;
}

.caseName {
    display: inline-block;
    color: #8b8b8b;
    border: none;
}

.caseName option {
    font-size: .5em;
}
.col {
    margin: 1em;
}

.caseData {
    height: 90vh;
    overflow-y: auto;
}

.doc {
    max-width: 100%;
    margin: 1em 2%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: ease-in-out .2s;
}

.doc:hover {
    background-color: rgba(204, 204, 204, 0.699);
    color: white;

}

.doc img {
    height: 100%;
}

.approval {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.approval img {
    height: 70%;
}

.footer {
    width: 100%;
    height: 50px;
    position:fixed;
    bottom: 0px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: rgba(204, 204, 204, 0.699);
}

.footer a {
    padding: 10px;
    color: #4b4b4b;
}
