.title {
    background-color: #6795fd;
    height: 100px;
    width: 100%;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title img {
    height: 100%;
}

h1 {
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    box-sizing: border-box;
}

.h1_nonWhite {
    color: #8f8f8f;
}

.new_form_button {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: end;
    margin: 0;
}

.new_form_button a {
    background-color: #6795fd;
    color: white;
    padding: 1%;
    border-radius: 40px;
    margin: 1%;
    margin-right: 30%;
}

.formList {
    width: 60%;
    height: 800px;
    margin: auto;
    border-radius: 3px;
    border-width: 3px;
    border-color: #8f8f8f;
    border-style: solid;

    display: flex;
    flex-direction: row;
}

.form {
    max-width: 100%;
    height: 10%;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;

    background-color: rgba(204, 204, 204, 0.699);
}

.form:hover {
    background-color: rgba(204, 204, 204, 0.952);

}

.form img {
    height: 100%;
}


.footer {
    width: 100%;
    height: 50px;
    position:fixed;
    bottom: 0px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: rgba(204, 204, 204, 0.699);
}

.footer a {
    padding: 10px;
    color: #4b4b4b;
}
